.hidden {
  display: none;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}
ul,
ol {
  margin: 0;;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    }
  }

@media screen and (min-width: 1158px) {
  .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }

/* ========================================================================================================================================================
Header
======================================================================================================================================================== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.navigation-list, 
.header-contacts {
  display: none;
}
.page-logo {
  display: block;
  padding: 16px 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.page-navigation {
  margin-right: auto;
}
.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  
  .page-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  
  .navigation-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .navigation-link:hover,
  .navigation-link:focus {
      color: #404bbf;
  }
  
  .current {
    position: relative;
    color: #404bbf;
  }
  
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  
  .header-contacts {
    display: block;
    font-style: normal;
  }
  
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}


@media screen and (min-width: 1158px) {
  .page-logo {
      margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========================================================================================================================================================
Mobile Menu
======================================================================================================================================================== */


  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 40px;
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .mobile-menu-close-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
