.hidden {
  display: none;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}
ul,
ol {
  margin: 0;;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section-paddings {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    }
  }

@media screen and (min-width: 1158px) {
  .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }

/* ========================================================================================================================================================
Header
======================================================================================================================================================== */

.page-header-list,
.contacts-list {
  display: none;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  display: block;
  padding: 16px 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.page-navigation {
  margin-right: auto;
}

/* ========================================================================================================================================================
Mobile menu
======================================================================================================================================================== */

@media screen and (max-width: 767px) {
  .btn-burger {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
  }
  .icon-burger {
    display: block;
    fill: #2f2f37;
    }
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  
    overflow-y: auto;
  
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
    }
  
  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 40px;
    padding-top: 72px;
    padding-bottom: 40px;
  }
  
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .mobile-menu-close-btn-icon {
    fill: #2e2f42;
    }
  .mobile-menu-nav {
    margin-bottom: auto;
  }
  .mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .mobile-menu-contacts {
    margin-bottom: 48px;
    margin-top: 168px;
  }
  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mobile-menu-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-list-link:focus {
    color: #404bbf;
  }
  .mobile-menu-social-list {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    }
  .mobile-menu-social-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
  }
  .mobile-menu-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .mobile-menu-social-list-icon {
    fill: #f4f4fd;
    }
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .page-header-list {
    display: flex;
    }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  
  .page-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  
  .navigation-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .navigation-link:hover,
  .navigation-link:focus {
      color: #404bbf;
  }
  
  .current {
    position: relative;
    color: #404bbf;
  }
  
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  
  .header-contacts {
    display: block;
    font-style: normal;
  }
  
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}


@media screen and (min-width: 1158px) {
  .page-logo {
      margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========================================================================================================================================================
Hero
======================================================================================================================================================== */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}
.hero-title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-family: inherit;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mob@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
.hero {
  padding: 112px 0;
  max-width: 768px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tab-min.jpg);
}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tab@2x-min.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desk-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desk@2x-min.jpg);
  }
}